:root {

    --main-color: #cc232c;

    --background-main: #F8F9FA;

    --text-color: #fdfdfd;

    --green: #1ec56f;
}

body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
}

.menu-titles{
    font-weight: 700;
}

.hidde-in-mobile{
    color: var(--main-color);
}

@media only screen and (min-width: 521px) {
    .hidde-in-mobile{
        display: none;
    }
    .hidde-in-mobile:hover{
        color: var(--main-color);
    }
}

.hidde-in-medium-dispositive{
    color: var(--main-color);
}

@media only screen and (max-width: 521px) {
    .hidde-in-medium-dispositive{
        display: none;
    }

    .hidde-in-medium-dispositive:hover{
        color: var(--main-color);
        text-decoration: none;
    }
}


.corousel-image {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    max-height: 470px;
}

.offerDayImage {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.theme-container {
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--text-color);
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid rgb(17, 17, 17) 2px;
}


/* PRODUCT CHOOSEN PAGE */

.product-choosen-text {
    text-align: justify;
}

.product-choosen-image {
    border-radius: 10px;
}

.corousel-product-image {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
}

.quantity-label {
    line-height: 2.5;
    margin: 0 1rem 1rem 0;
}

.add-to-cart-button {
    background-color: var(--main-color);
    color: var(--text-color);
}

.add-to-cart-button:hover {
    background-color: #b92128;
}

.delivery-text {
    color: var(--green);
}

.fundo {
    background-color: #F8F9FA;
    color: #000000;
}




/* INSTITUTIONAL PAGE */

.objetive-container {
    padding: 1rem;
    height: 20px;
}

.objetive-text {
    text-align: justify;
}

.container-org-card {
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 15px;

}

.content-institutional {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.company-objetives {
    text-align: center;
}

.company-objetives-title {
    color: var(--text-color);
}

.company-org-text {
    text-align: justify;
}

.institutional-link:link {
    text-decoration: none;
    color: var(--text-color);
}

.institutional-link:hover {
    text-decoration: none;
    color: #bbbbbbb6;
    transition: 0.25s;
}

.institutional-link:visited {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
}



/* FOOTER */

.footer-text {
    font-size: 0.75rem;
}

.social-icons {
    color: var(--text-color);
}

.footer-titles{
    font-weight: 600;
}

/* BUY CART */

.cart-card{
    background-color: var(--green);
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0000005d;
}

.title-cart-product{
    padding: 1rem 1rem 1rem 0;
}

.bottom-cart-card{
border-top: 5px solid #291ec5;
margin: 1rem;
}

.cart-image{
    width: 100%;
    height: auto;
    margin: 1rem 0 1rem 1rem;
    background-color: var(--green);
}